.container {
  border: 1px solid black;
  background-color: var(--color-grey-light-1);
  border-radius: 2%;
}

.header {
  border: 1px solid black;
  display: flex;
  justify-content: center;
}

.display {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  &__image {
    max-width: 80%;
    border: 1px solid black;
    flex: 1 1 50%;
  }

  &__scorer {
    display: flex;
    flex: 1 1 50%;
    flex-direction: column;
    justify-content: space-between;

    border: 1px solid black;

    &__mistakes {
      border: 1px solid black;
      flex: 1 1 20%;
    }

    &__guesses {
      flex: 1 1 20%;
      border: 1px solid black;
    }

    &__dashes {
      display: flex;
      justify-content: center;
      flex: 1 1 20%;

      border: 1px solid black;
    }

    &__buttons {
      display: flex;
      flex: 0 0 40%;
      border: 1px solid black;
    }
  }
}
