.main-container {
  border: 0.2rem solid var(--color-grey-dark-1);
  box-shadow: 0rem 0rem 4rem 0.5rem var(--color-grey-dark-1); //var(--shadow-dark);
  //background: url("../img/seamlessFlowers.jpg");
  background: linear-gradient(to top, rgba(#85627a, 0.8), rgba(#e39cab, 0.8)),
    url("../img/seamlessFlowers.jpg");

  background-repeat: repeat;
  background-size: 30rem;

  //max-width: 120rem;
  min-width: 90%;
  max-width: 120rem;
  min-height: 50rem;
  margin: 4rem auto;

  @media only screen and (max-width: 1200px) {
    margin: 0;
  }
}

.header {
  border-bottom: 0.2rem solid var(--color-grey-dark-1);
  display: flex;
  justify-content: center;
  margin-left: 0px;
  margin-bottom: 0px;

  background-color: var(--color-primary);
}

.EndResult {
  display: flex;
  justify-content: center;

  max-width: 100%;

  &__block {
    display: flex;
    flex-direction: column;

    &-button {
      align-self: center;
      width: 100%;

      margin-top: 1rem;
      margin-bottom: 2rem;
    }
  }
}

.display {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  &__image {
    max-width: 80%;
    flex: 1 1 50%;
  }

  &__scorer {
    display: flex;
    flex: 1 1 50%;
    flex-direction: column;
    justify-content: space-between;

    max-width: 100%; // So it doesn't overflow main container for mobile display

    &__mistakes,
    &__guesses {
      flex: 1 1 20%;
      margin-left: 2rem;
    }

    &__dashes {
      display: flex;
      justify-content: center;
      flex: 1 1 20%;
    }

    &__dashes span {
      align-self: center;
    }

    &__buttons {
      display: flex;
      flex: 0 0 40%;
    }
  }
}

.Answer {
  color: white;
  -webkit-transform: scale(-1, -1);
  transform: scale(-1, -1);
}
