.main-container {
  //border: 1px solid #000000;
  background-image: linear-gradient(to bottom right, #f8f0e3, white);

  max-width: 120rem;
  min-height: 50rem;
  margin: 4rem auto;
  box-shadow: var(--shadow-dark);
}

.header {
  //border: 1px solid black;
  display: flex;
  justify-content: center;
  margin-left: 0px;
  margin-bottom: 0px;

  background-color: var(--color-primary);
}

.YouWin {
  display: flex;
  justify-content: center;

  &__block {
    display: flex;
    flex-direction: column;

    &-button {
      align-self: center;
      width: 50%;

      margin-top: 1rem;
      margin-bottom: 2rem;
    }
  }
}

.display {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  &__image {
    max-width: 80%;
    //border: 1px solid black;
    flex: 1 1 50%;
  }

  &__scorer {
    display: flex;
    flex: 1 1 50%;
    flex-direction: column;
    justify-content: space-between;

    //border: 1px solid black;

    &__mistakes {
      //border: 1px solid black;
      flex: 1 1 20%;
    }

    &__guesses {
      flex: 1 1 20%;
      //border: 1px solid black;
    }

    &__dashes {
      display: flex;
      justify-content: center;
      flex: 1 1 20%;
    }

    &__dashes span {
      align-self: center;
      //box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
      //background: transparent;
      //box-shadow: 0px 0px 40px 20px #0ff;
      //border-radius: 10%;
      //border: 1px solid black;
      //text-shadow: 0px 2px 1px white;
    }

    &__buttons {
      display: flex;
      flex: 0 0 40%;
      //border: 1px solid black;
    }
  }
}
