.body {
  font-family: "Lato", sans-serif;
}

.header {
  font-family: "Merienda", cursive;
  font-weight: 700;
  font-size: 4vw; //5.6rem;
  line-height: 1.5;
  -webkit-text-stroke: 0.1rem white;
  text-shadow: black 0.1rem 0.2rem 0.5rem;
  padding-bottom: 1rem;

  color: var(--color-grey-dark-1);

  @media only screen and (max-width: 767px) {
    font-size: 8vw;
  }

  @media only screen and (max-width: 397px) {
    font-size: 12vw;
    padding-bottom: 0.5rem;
  }
}

.EndResult {
  span {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 3.5rem;
    color: #fff;
    text-shadow: black 0.1rem 0.2rem 0.2rem;
    -webkit-text-stroke: 0.1rem black;

    @media only screen and (max-width: 767px) {
      font-size: 8vw;
    }

    @media only screen and (max-width: 397px) {
      font-size: 12vw;
      -webkit-text-stroke: 0.05rem black;
    }
  }

  button {
    font-size: 1.5rem;
  }
}

.display__scorer {
  &__mistakes,
  &__guesses {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 3vw; //2.6rem;
    line-height: 1.5;
    color: #fff; //var(--color-grey-dark-4);

    //-webkit-text-stroke: 1px white;
    text-shadow: black 0.1rem 0.2rem 0.2rem;

    @media only screen and (max-width: 767px) {
      font-size: 6vw;
    }

    @media only screen and (max-width: 397px) {
      font-size: 6vw;
    }
  }
}

.display__scorer__dashes {
  font-family: "Merienda", cursive;
  color: #fff;
  -webkit-text-stroke: 0.2rem black;
  text-shadow: black 0.1rem 0.2rem 0.2rem;

  font-size: 4vw; //NEEDS EDITING
  //padding-bottom: 3rem;

  @media only screen and (max-width: 767px) {
    font-size: 8vw;
  }

  @media only screen and (max-width: 397px) {
    font-size: 10vw;
    -webkit-text-stroke: 0.1rem black;
  }
}

.buttons-container__buttons-hangButton {
  color: white !important;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.6rem !important;
  line-height: 1.5;
}
