:root {
  --color-primary: #d4c4f9;
  --color-primary-light: #fff7ff;
  --color-primary-dark: #a294c6;
  --color-background-grey: #f7f7f7;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
  --shadow-dark: 0 2rem 6rem rgba($color: #000000, $alpha: 0.3);
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 10px;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 247, 255, 0.8)), to(rgba(153, 153, 153, 0.8))), url("../img/BoardGameBackground.jpg");
  background: linear-gradient(to top, rgba(255, 247, 255, 0.8), rgba(153, 153, 153, 0.8)), url("../img/BoardGameBackground.jpg");
  background-repeat: repeat;
  background-size: 30rem;
  min-height: 100vh;
}

.main-container {
  border: 0.2rem solid var(--color-grey-dark-1);
  -webkit-box-shadow: 0rem 0rem 4rem 0.5rem var(--color-grey-dark-1);
          box-shadow: 0rem 0rem 4rem 0.5rem var(--color-grey-dark-1);
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(133, 98, 122, 0.8)), to(rgba(227, 156, 171, 0.8))), url("../img/seamlessFlowers.jpg");
  background: linear-gradient(to top, rgba(133, 98, 122, 0.8), rgba(227, 156, 171, 0.8)), url("../img/seamlessFlowers.jpg");
  background-repeat: repeat;
  background-size: 30rem;
  min-width: 90%;
  max-width: 120rem;
  min-height: 50rem;
  margin: 4rem auto;
}

@media only screen and (max-width: 1200px) {
  .main-container {
    margin: 0;
  }
}

.header {
  border-bottom: 0.2rem solid var(--color-grey-dark-1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 0px;
  margin-bottom: 0px;
  background-color: var(--color-primary);
}

.EndResult {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 100%;
}

.EndResult__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.EndResult__block-button {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.display {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.display__image {
  max-width: 80%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  padding: 0rem 3rem;
}

.display__scorer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 100%;
}

.display__scorer__mistakes, .display__scorer__guesses {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 20%;
          flex: 1 1 20%;
  margin-left: 2rem;
}

.display__scorer__dashes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 20%;
          flex: 1 1 20%;
}

.display__scorer__dashes span {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.display__scorer__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40%;
          flex: 0 0 40%;
}

.Answer {
  color: white;
  -webkit-transform: scale(-1, -1);
  transform: scale(-1, -1);
}

.EndResult Button {
  background-color: var(--color-primary-dark) !important;
  border: 0.1rem solid black !important;
  -webkit-box-shadow: 0rem 0.2rem 0.5rem 0.1rem gray !important;
          box-shadow: 0rem 0.2rem 0.5rem 0.1rem gray !important;
}

.EndResult Button:hover {
  -webkit-transform: translateY(-0.3rem);
          transform: translateY(-0.3rem);
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  /*x y blur color*/
}

.EndResult Button:active {
  /*When clicked*/
  -webkit-transform: translateY(-0.1rem);
          transform: translateY(-0.1rem);
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  /*When clicked, we want smaller shadow with less blur, so it looks closer to page*/
}

.buttons-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.buttons-container__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.buttons-container__buttons-hangButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 3.2rem;
  width: 3.2rem;
  margin: 0.5rem;
  border: 0.1rem solid black !important;
  border-radius: 30% !important;
  -webkit-box-shadow: 0rem 0.2rem 0.5rem 0.1rem gray !important;
          box-shadow: 0rem 0.2rem 0.5rem 0.1rem gray !important;
  background-color: var(--color-primary-dark) !important;
}

.buttons-container__buttons-hangButton:hover {
  -webkit-transform: translateY(-0.3rem);
          transform: translateY(-0.3rem);
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  /*x y blur color*/
}

.buttons-container__buttons-hangButton:active {
  /*When clicked*/
  -webkit-transform: translateY(-0.1rem);
          transform: translateY(-0.1rem);
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  /*When clicked, we want smaller shadow with less blur, so it looks closer to page*/
}

.body {
  font-family: "Lato", sans-serif;
}

.header {
  font-family: "Merienda", cursive;
  font-weight: 700;
  font-size: 4vw;
  line-height: 1.5;
  -webkit-text-stroke: 0.1rem white;
  text-shadow: black 0.1rem 0.2rem 0.5rem;
  padding-bottom: 1rem;
  color: var(--color-grey-dark-1);
}

@media only screen and (max-width: 767px) {
  .header {
    font-size: 8vw;
  }
}

@media only screen and (max-width: 397px) {
  .header {
    font-size: 12vw;
    padding-bottom: 0.5rem;
  }
}

.EndResult span {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 3.5rem;
  color: #fff;
  text-shadow: black 0.1rem 0.2rem 0.2rem;
  -webkit-text-stroke: 0.1rem black;
}

@media only screen and (max-width: 767px) {
  .EndResult span {
    font-size: 8vw;
  }
}

@media only screen and (max-width: 397px) {
  .EndResult span {
    font-size: 12vw;
    -webkit-text-stroke: 0.05rem black;
  }
}

.EndResult button {
  font-size: 1.5rem;
}

.display__scorer__mistakes, .display__scorer__guesses {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 3vw;
  line-height: 1.5;
  color: #fff;
  text-shadow: black 0.1rem 0.2rem 0.2rem;
}

@media only screen and (max-width: 767px) {
  .display__scorer__mistakes, .display__scorer__guesses {
    font-size: 6vw;
  }
}

@media only screen and (max-width: 397px) {
  .display__scorer__mistakes, .display__scorer__guesses {
    font-size: 6vw;
  }
}

.display__scorer__dashes {
  font-family: "Merienda", cursive;
  color: #fff;
  -webkit-text-stroke: 0.2rem black;
  text-shadow: black 0.1rem 0.2rem 0.2rem;
  font-size: 4vw;
}

@media only screen and (max-width: 767px) {
  .display__scorer__dashes {
    font-size: 8vw;
  }
}

@media only screen and (max-width: 397px) {
  .display__scorer__dashes {
    font-size: 10vw;
    -webkit-text-stroke: 0.1rem black;
  }
}

.buttons-container__buttons-hangButton {
  color: white !important;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.6rem !important;
  line-height: 1.5;
}
/*# sourceMappingURL=main.css.map */