.Dashes {
    border: 1px solid black;
    text-align: center;
    position: relative;
}

.mainDashes {
    font-size: 10vw;
}

.buttonsHang {
    display: block;
    padding: 30px;
}

.hangButton {
    margin: 5px;
}