.display {
    border: 1px solid black;
    text-align: center;
    position: relative;
}

.hangImage {
    display: block;
}

.incorrectCount {
    display: block;
}

.incorrectGuesses {
    display: block;
}